<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="C:\logs\" />
    <add key="ConnectionString" value="Server=52.34.36.108,1515;Database=proyectoX;User Id=melchor;Password=lopeZ20070331;" />
  </appSettings>
  <connectionStrings>
    <add name="LogEntities" connectionString="metadata=res://*/Model.LogDb.csdl|res://*/Model.LogDb.ssdl|res://*/Model.LogDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.34.36.108,1515;initial catalog=ProyectoX;persist security info=True;user id=sa;password=Manati2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>